<h1>Restaurants #INDEX</h1>
<ul>
  <% @restaurants.each do |restaurant| %>
  <li><%= link_to restaurant.name, restaurant_path(restaurant) %> - <%= restaurant.address %> - <%= restaurant.rating %></li>
  <% end %>
</ul>

<p><%= link_to "Add New Restaurant", new_restaurant_path %></p>
